# Vedam AI Client Environment Variables
# Duplicate this file as .env.local in the root directory for local development.

# URL of the Vedam AI Backend Express Server API
NEXT_PUBLIC_API_URL=http://localhost:5000

# URL of the Vedam AI Backend WebSocket Server
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000
